!!!
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/simplex.bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Display-o-Matic 3000

    .container
      .row
        .hero-unit
          h1 Control panel
          div
            form(action='/', method='post')
              div(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                  label(for='text') Text: 
                     input(type='text',value='',placeholder='text to display',name='text')
                  label(for='showTime') Show time: 
                     input(type='radio',name='showTime',value='yes',checked=true)
                     | yes
                     input(type='radio',name='showTime',value='no',checked=false)
                     | nope
                  label(for='scroll') Scrolling: 
                     input(type='radio',name='scrolling',value='auto',checked=true)
                     | auto
                     input(type='radio',name='scrolling',value='left',checked=false)
                     | left
                     input(type='radio',name='scrolling',value='right',checked=false)
                     | right
                     input(type='radio',name='scrolling',value='none',checked=false)
                     | disabled
              div(data-role='fieldcontain')   
                input(type='submit',value='Send text',data-transition='fade', data-theme='c')

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/libs/sugarjs/sugar.min.js")
