!!!
html(ng-app='display')
  include includes/head
  body
    include includes/navbar
    include includes/container
      div
        table.table.table-condensed
          thead
            tr
              th Name
              th Active time
              th Text
              th URL
          for row in rows
            tr
              td
                a(href='/edit/' + row.id)= row.name
              td
                span.muted  (#{util.convertToTime(row.startTime)} to #{util.convertToTime(row.endTime)})
              td #{util.trimText(row.text, 20)}
              if !row.url
                td= null
              else
                td
                  a(href='#{row.url}') #{util.trimText(row.url, 20)}

